@import "tailwindcss";

body {
	@apply bg-gray-950 text-gray-50;
}

h1,
h2,
h3,
h4,
h5 {
	@apply font-bold;
}

html {
	@apply text-base;
}

h1 {
	@apply text-5xl;
}

h2 {
	@apply text-4xl;
}

h3 {
	@apply text-3xl;
}

h4 {
	@apply text-2xl;
}

h5 {
	@apply text-base;
}

small {
	@apply text-xs;
}

a {
	@apply text-orange-500 no-underline;
}

.date {
	@apply text-gray-500 text-sm m-0;
}

.card-1 {
	@apply bg-gray-900 p-8 rounded text-center;
}

.card-1 div {
	@apply text-left;
}

.card-2 {
	@apply bg-gray-800 rounded p-4;
}

.card-1 > hr {
	@apply my-8;
}

ul {
	@apply list-disc list-outside ps-6;
}

.container-layout {
	@apply grid gap-8 justify-center;
	grid-template-columns: 1fr;
	grid-template-areas:
		"projects"
		"experience"
		"education"
		"other"
		"references";
}

.projects-layout {
	@apply grid gap-8;
	grid-template-columns: 1fr;
}

.projects-list {
	@apply grid gap-8;
	grid-column: span 2;
	grid-template-columns: 1fr;
}

.technologies-list {
	@apply grid gap-x-8;
	grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
	.container-layout {
		@apply max-w-3/4 m-auto;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-template-areas:
			"projects projects"
			"experience education"
			"other references";
	}

	.projects-layout {
		grid-template-columns: 2fr 2fr 1fr;
	}

	.projects-list {
		grid-column: span 2;
		@apply grid gap-4;
		grid-template-columns: repeat(2, 1fr);
	}

	.technologies-list {
		grid-template-columns: 1fr;
	}

	.technologies {
		grid-column: 3 / 4;
	}
}

.project {
	grid-column: auto;
}

.technologies {
	grid-column: auto;
}

.projects {
	grid-area: projects;
}

.experience {
	grid-area: experience;
}

.education {
	grid-area: education;
}

.other {
	grid-area: other;
}

.references {
	grid-area: references;
}
